In [103]:
import pandas as pd

In [106]:
pd.core.frame.DataFrame

pandas.core.frame.DataFrame

In [12]:
df['resort'].str.contains('bird').sum()

1

In [109]:
dict

dict

In [20]:
df2=df.append({'resort':'whistler', 'snow':'good'},ignore_index=True)

In [110]:
basestring

NameError: name 'basestring' is not defined

In [ ]:
isinstance())

In [22]:
df2.dtypes

resort             object
snow               object
difficulty        float64
good_for_noobs    float64
dtype: object

In [19]:
df.dtypes

resort            object
snow              object
difficulty         int64
good_for_noobs      bool
dtype: object

In [18]:
df2=df.append({})

pandas.core.series.Series

In [23]:
pd.write_csv('df2')

AttributeError: module 'pandas' has no attribute 'write_csv'

In [ ]:
pd.dataframe

In [2]:
pd.DataFrame

NameError: name 'pd' is not defined

In [4]:
d = {'juice':'orange','meat':'sausage','lumps_of_sugar':3}

In [12]:
df = pd.DataFrame(d,index=[1])

In [13]:
df

    juice     meat  lumps_of_sugar
1  orange  sausage               3

In [42]:
c=dict(list(zip(b,a)))

In [46]:
a

['abcdefg',
 'time',
 'time',
 '9999',
 'beetbug',
 '9999',
 '9999',
 '9999',
 '9999',
 False,
 'none']

In [35]:
df = pd.DataFrame(data=dict('abcdefg','time','time','9999','beetbug','9999','9999','9999','9999',False,'none'),index=[0],columns=['id','ctime','ptime','score','user','ausers','subs','ukarma','comments','self','title'])

TypeError: dict expected at most 1 arguments, got 11

In [44]:
df1

,id,ctime,ptime,score,user,ausers,subs,ukarma,comments,self,title
0,abcdefg,time,time,9999,beetbug,9999,9999,9999,9999,False,none

In [71]:
import pd_test

In [48]:
pd

In [72]:
pd_test{}

AttributeError: module 'pd_test' has no attribute 'e'

In [73]:
import pandas as pd


c = ['id','ctime','ptime','score','user','ausers','subs','ukarma','comments','self','title']
sample_data = ['abcdefg', 'time', 'time', '9999', 'beetbug', '9999', '9999', '9999', '9999', False, 'none']

e = zip(c,sample_data)
df = pd.DataFrame(data=dict(list(zip(c,sample_data))),index=[0])
print(e)

<zip object at 0x7f1349bd8808>

In [74]:
import pandas as pd


c = ['id','ctime','ptime','score','user','ausers','subs','ukarma','comments','self','title']
sample_data = ['abcdefg', 'time', 'time', '9999', 'beetbug', '9999', '9999', '9999', '9999', False, 'none']

e=dict(list(zip(c,sample_data)))
df = pd.DataFrame(data=dict(list(zip(c,sample_data))),index=[0])
df

,id,ctime,ptime,score,user,ausers,subs,ukarma,comments,self,title
0,abcdefg,time,time,9999,beetbug,9999,9999,9999,9999,False,none

In [75]:
type(df)

pandas.core.frame.DataFrame

In [76]:
pandas.core.frame.DataFrame

NameError: name 'pandas' is not defined

In [87]:
if type(df) == '''pd.core.frame.DataFrame''': print(type(df))

In [102]:
str(type(df)) == "<class 'pandas.core.frame.DataFrame'>"

True