In [3]:
import pandas as pd
df=pd.read_csv('foo.csv')

In [4]:
df

     resort   snow  difficulty
0  snowbird  great           3
1  heavenly     ok           2
2     squaw     ok           3

In [12]:
df['resort'].str.contains('bird').sum()

1

In [6]:
df

     resort   snow  difficulty  good_for_noobs
0  snowbird  great           3           False
1  heavenly     ok           2            True
2     squaw     ok           3           False

In [20]:
df2=df.append({'resort':'whistler', 'snow':'good'},ignore_index=True)

In [22]:
df2.dtypes

resort             object
snow               object
difficulty        float64
good_for_noobs    float64
dtype: object

In [19]:
df.dtypes

resort            object
snow              object
difficulty         int64
good_for_noobs      bool
dtype: object

In [18]:
df2=df.append({})

pandas.core.series.Series

In [23]:
pd.write_csv('df2')

AttributeError: module 'pandas' has no attribute 'write_csv'

In [ ]:
pd.dataframe

In [2]:
pd.DataFrame

NameError: name 'pd' is not defined

In [4]:
d = {'juice':'orange','meat':'sausage','lumps_of_sugar':3}

In [12]:
df = pd.DataFrame(d,index=[1])

In [13]:
df

    juice     meat  lumps_of_sugar
1  orange  sausage               3

In [17]:
dfa={}

In [15]:
dfa

Empty DataFrame
Columns: []
Index: []